<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SFA Field Accesibility" parallel="none">
	<test name="Verify Field Accesibility">
		<classes>
			<class name="com.email.scripts.GetFieldsAcceble" />
		</classes>
	</test> <!-- Verify Field Accesibility -->
</suite> <!-- SFA Field Accesibility -->
